alias vim="nvim"
alias vi="nvim"
alias cat="bat"
alias ls="lsd"
alias cd="z"

# Setting for the new UTF-8 terminal support in Lion
LC_CTYPE=en_US.UTF-8
LC_ALL=en_US.UTF-8

HISTFILE=~/.zsh_history
HISTSIZE=10000
SAVEHIST=10000
setopt appendhistory

# Prompt style
PS1='%n@%m:%~%(!.#.$) '

# Function for downloading google drive file
gdown () {
    # Check if argument is provided
    if [ -z "$2" ]; then
        echo "usage: gdown <id> <filename>"
    else
        CONFIRM=$(wget --quiet --save-cookies /tmp/cookies.txt --keep-session-cookies --no-check-certificate "https://docs.google.com/uc?export=download&id=$1" -O- | sed -rn 's/.*confirm=([0-9A-Za-z_]+).*/\1\n/p')
        wget --load-cookies /tmp/cookies.txt "https://docs.google.com/uc?export=download&confirm=$CONFIRM&id=$1" -O $2
        rm -rf /tmp/cookies.txt
    fi
}

{{ if eq .chezmoi.os "linux" }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ if eq .chezmoi.osRelease.id "ubuntu" }}
{{ end }}
{{ end }}
eval "$(zoxide init zsh)"
PATH=$HOME/.local/bin:$PATH
