{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
PACKAGES=(
    vim
    chezmoi
    neovim
    tmux
    fzf
    zoxide
    fd
    bat
    ripgrep
    lsd
    trash-cli
    llama.cpp
    font-hack-nerd-font
    rectangle
)

CASKS=(
    karabiner-elements
    obsidian
    slack
    visual-studio-code
    stats
    scroll-reverser
)

# If Homebrew is not installed on the system, it will be installed here
if test ! $(which brew); then
   printf '\n\n\e[33mHomebrew not found. \e[0mInstalling Homebrew...'
   /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
else
  printf '\n\n\e[0mHomebrew found. Continuing...'
fi

# Update homebrew packages
printf '\nInitiating Homebrew update...\n'
brew update

printf '\nInstalling packages...\n'
brew install ${PACKAGES[@]}

printf '\n\nRemoving out of date packages...\n'
brew cleanup

printf '\n\nInstalling cask apps...\n'
brew install --cask ${CASKS[@]}

printf '\n\nInstalling aider...\n'
curl -LsSf https://aider.chat/install.sh | sh

{{ end -}}
