#!/bin/bash
{{- if eq .chezmoi.os "linux" -}}

{{- if eq .chezmoi.osRelease.id "ubuntu"}}

PACKAGES=(
    build-essential
    procps
    curl
    file
    git
    zsh
)

# Install packages
sudo apt-get update
sudo apt-get install -y ${PACKAGES[@]}
{{- end}}
# If Homebrew is not installed on the system, it will be installed here
if test ! $(which brew); then
   printf '\n\n\e[33mHomebrew not found. \e[0mInstalling Homebrew...'
   /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
else
  printf '\n\n\e[0mHomebrew found. Continuing...'
fi

PACKAGES=(
    chezmoi
    neovim
    tmux
    fzf
    zoxide
    fd
    bat
    ripgrep
    lsd
    trash-cli
    llama.cpp
)

brew update
brew install ${PACKAGES[@]}
brew cleanup



{{- end -}}
