#!/bin/bash

{{ if eq .chezmoi.os "darwin" -}}
# Install Homebrew on any OS if not found
if ! command -v brew &>/dev/null; then
	printf '\n\n\e[33mHomebrew not found. \e[0mInstalling Homebrew...\n'
	/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

	# Add brew to PATH (Linux needs this, macOS usually fine)
	if [ -d "/home/linuxbrew/.linuxbrew/bin" ]; then
		eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
	elif [ -d "/opt/homebrew/bin" ]; then
		eval "$(/opt/homebrew/bin/brew shellenv)"
	fi
else
	printf '\n\n\e[0mHomebrew found. Continuing...\n'
fi

# Update homebrew packages
printf '\nInitiating Homebrew update...\n'
brew update

brew_packages=(
{{ range .packages.darwin.brew }}
	{{ . | quote }}
{{ end }}
)

cask_packages=(
{{ range .packages.darwin.cask }}
	{{ . | quote }}
{{ end }}
)

printf '\nInstalling packages...\n'
for formula in "${brew_packages[@]}"; do
	if ! brew list --formula "$formula" &>/dev/null; then
		brew install "$formula"
	fi
done

for cask in "${cask_packages[@]}"; do
	if ! brew list --cask "$cask" &>/dev/null; then
		brew install --cask "$cask"
	fi
done

printf '\n\nRemoving out of date packages...\n'
if [ ${#brew_packages[@]} -gt 0 ] || [ ${#cask_packages[@]} -gt 0 ]; then
	brew cleanup "${brew_packages[@]}" "${cask_packages[@]}"
fi
{{ end }}

{{ if eq .chezmoi.os "linux" }}
{{ if eq .chezmoi.osRelease.id "arch" }}
sudo pacman -Sy
{{ range .packages.linux.arch.pacman }}
sudo pacman -S --needed {{ . }}
{{ end }}
{{ end }}
{{ if eq .chezmoi.osRelease.id "debian" }}
{{ range .packages.linux.ubuntu.apt }}
sudo apt-get install -y {{ . }}
{{ end }}
{{ end }}
{{ end }}

# Install tmux plugin manager if not exists
if [ ! -d "${HOME}/.tmux/plugins/tpm" ]; then
	git clone https://github.com/tmux-plugins/tpm "${HOME}/.tmux/plugins/tpm"
fi
